.hover__effect {
  transition: all 0.3s ease-in-out;
}
.hover__effect:hover {
  transform: scale(1.1);
}
.heart__style {
  height: 20px;
  width: 20px;
  cursor: pointer;
  color: #fff;
}
.red {
  color: red;
}

.heart__style__container {
  top: 0;
  right: 0;
  cursor: pointer;
  background-color: var(--green);
  padding: 10px 20px;
  border-radius: 0pc 27px 0px 32px;
}

a {
  /* color: #000 !important; */
  text-decoration: none !important;
}
.card {
  height: 100% !important;
}

.aligin__footer {
  position: absolute;
  bottom: 28px;
  width: 85%;
}
