.dropdown-toggle::after {
  transition: transform 0.3s ease; /* Add transition for smooth animation */
}

.rotate::after {
  transform: rotate(180deg);
}
.btn-outline-success {
  background-color: var(--green) !important;
  color: #fff !important;
  border: var(--green) !important;
  border-radius: 1rem !important;
  font-size: 0.9rem !important;
}
.btn-outline-success:hover {
  background-color: #e9ecef !important;
  color: var(--green) !important;
  border-radius: 1rem !important;
  font-size: 0.9rem !important;
}
.custom__icon {
  height: 25px;
  width: 25px;
}
.custom__icon:hover {
  cursor: pointer;
}
.icon__cart::after {
  content: 0;
}

.shopping-cart {
  position: relative;
  display: inline-block;
}

.cart-value {
  position: absolute;
  top: -7px;
  right: -10px;
  height: 20px;
  width: 20px;
  text-align: center;
  background-color: var(--green);
  display: flex;
  color: #fff;
  border-radius: 50%;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.navbar-toggler {
  font-size: 12px !important;
}

.nav-link {
  font-weight: 700 !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root {
  justify-content: flex-start !important;
}
.css-1e6y48t-MuiButtonBase-root-MuiButton-root:hover {
  background-color: rgba(
    var(--bs-tertiary-bg-rgb),
    var(--bs-bg-opacity)
  ) !important;
}
